
body {
    margin                 : 0;
    padding                : 0;

    font                   : 12px/1.6 arial,helvetica,sans-serif;
    font-family            : "Lucida Grande","Lucida Sans Unicode",
    font-size              : 1.125em;
    color                  : white;

    "Lucida Sans",Geneva,Verdana,sans-serif
    -webkit-font-smoothing : antialiased;
}

.topbanner {
    position      : fixed;
    top           : 1em;
    right         : 1em;

    padding       : 5px;

    background    : black;
    border-radius : 8px;
}

ul {
    display     : block;

    margin-left : -25px;

    font-size   : 16px;
    list-style  : none;
}

ul li{
    float        : left;
    margin-right : 25px;
}

.clearfix:after, ul:after, li:after {
    clear : both;
}

a {
    color           : white;
    text-decoration : nont;
}

.timeline-con {
    height : 450px;
    width  : 100%;
}

.banner {
    padding    : 10px 0 10px 0;
    background : #ca5529;
}

.banner .title{
    padding        : 20px;
    font-size      : 70px;
    font-weight    : bolder;
    color          : white;
    text-align     : center;
    text-rendering : optimizelegibility;
}

.banner .description {
    padding-bottom : 20px;
    font-size      : 20px;
    font-style     : italic;;
    color          : white;
    text-align     : center;
}

.container {
    overflow  : hidden;
    max-width : 900px;
    margin    : 90px auto;
}

.footer {
    margin     : 30px 0 30px 0;
    font-size  : 14px;
    color      : #ca5529;
    text-align : center;
}

.author a:hover {
    color : #ca5529;
}

.nav-pills li a:link, .nav-pills li a:visited {
    color           : #fcfcfc;
    text-decoration : none;
}

.nav-pills li a:hover {
    color           : white;
    text-decoration : none;
}